@media (max-width: 179px) {
    #logo-advanced{display: none;}
}

body{
font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: end;
    height: 50px;
    flex-wrap: wrap;
}

header ul{
    margin: 10px 20px;
    min-width: 125px;
    text-align: end;
}

header ul li{
    display: inline-block;
    padding: 0px 6px;
    font-size: 14px;
    min-width: 125px;   
}

a{
    text-decoration: none;
    color: black;
}

#logo-advanced{
    position: absolute; left: 20px; top: 20px;
}

.central-block{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 5vw;
   min-width: 340px
}

.central-logo{
    width: 272px;
    height: 100px;
}

.search-field{
    text-align: center;
}

.field{
    width: 38vw ;
    min-width: 300px;
    border: #cacaca 1px solid;
    border-radius: 20px;
    height: 45px;
    padding-left: 40px;
}

.down-buttons input{
    margin: 12px 6px;
    font-size: 14px;
    padding: 10px 15px;
    border: solid 1px white;
    border-radius: 5px;
    background-color: #f8f9fa;
}

#down-word{
    position: relative; left: 215px; bottom: 20px;
    color: #4285f4;
}

form svg{
    width: 20px;
    position: relative; left: 38px; top: 10px;
}